<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DevStart</title>
    <meta name="author" content="themeholy">
    <meta name="description" content="DevStart - Online Courses & Education HTML Template">
    <meta name="keywords" content="DevStart - Online Courses & Education HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
      Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">


    <!--==============================
        All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


    <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--********************************
        Code Start From Here
    ******************************** -->
    <!--==============================
       Preloader
    ==============================-->
    <div class="preloader ">
        <button class="th-btn style3 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
        Sidemenu
    ============================== -->
    
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="What are you looking for?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
      Mobile Menu
    ============================== -->
    
    <!--==============================
        Header Area
    ==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li><i class="far fa-phone"></i><a href="tel:0216(865) 47 39">0216(865) 47 39</a></li>
                                <li class="d-none d-xl-inline-block"><i class="far fa-envelope"></i><a href="mailto:info@Edura.com">info@devstart.com</a></li>
                                <li><i class="far fa-clock"></i>Mon - Fri: 9:00 - 17:00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-links header-right">
                            <ul>
                                <li>
                                    <div class="header-social">
                                        <span class="social-title">Follow Us:</span>
                                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                        <a href="https://www.instagram.com/"><i class="fab fa-skype"></i></a>
                                    </div>
                                </li>
                                <!-- Kullanıcı Bilgilerini Buraya Ekleyin -->
                                <li class="d-none d-lg-inline-block">
                                    @if (User.Identity.IsAuthenticated)
                                    //Eğer kullanıcı giriş yaptıysa :
                                    {
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-user"></i> @User.Identity.Name
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                                <li>
                                                    <a asp-action="Index" asp-controller="UserCourse">
                                                        Kurslarım
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="UserSales">
                                                        Siparişlerim
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Logout" asp-controller="Account">
                                                        Çıkış Yap
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="mx-lg-4 mx-md-2  mx-1">
                                            <a asp-action="Login" asp-controller="Account">
                                                <i class="fas fa-lock"></i> Giriş
                                            </a>
                                        </span>
                                        <span class="mx-lg-4 mx-md-2  mx-1">
                                            <a asp-action="Register" asp-controller="Account">
                                                <i class="fas fa-lock"></i> Kayıt
                                            </a>
                                        </span>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="/"><img src="/images/Logo1.png" alt="DevStart"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-auto">
                                    <nav class="main-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li><a href="/Home">Ana Sayfa</a></li>   
                                            <li><a href="#category-sec">Kategoriler</a></li>
                                            <li><a href="#course-sec">Kurslar</a></li>
                                            <li><a href="#team-sec">Eğitmenler</a></li>                                        
                                            <li><a href="#contact-sec">İletişim</a></li>
                                        </ul>
                                    </nav>
                                    <button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button>
                                </div>
                                <div class="col-auto d-none d-xl-block">
                                    <div class="header-button">                                                                                                                  
                                        <button onclick="javascript:window.location.href= '/Cart/Index/'" type="button" class="icon-btn sideMenuToggler">
                                            <i class="far fa-shopping-cart"></i>                                            
                                            <span id="cartCount" class="badge">0</span>
                                        </button>
                                        @if (User.IsInRole("Yazar"))
                                        {
                                            <a href="/Course/Index" class="th-btn ml-25">Yönetim Paneli<i class="fas fa-arrow-right ms-1"></i></a>
                                        }  
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a href="/User/Index" class="th-btn ml-25">Yönetim Paneli<i class="fas fa-arrow-right ms-1"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Hero Area
    ==============================-->
    <div class="th-hero-wrapper hero-1" id="hero">
        <div class="hero-slider-1 th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true">


            <div class="th-hero-slide">
                <div class="th-hero-bg" data-overlay="title" data-opacity="8" data-bg-src="/images/banner2.jpg"></div>
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="hero-style1">
                                
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.4s">
                                    Eğitim, daha iyisini yaratır.<span class="text-theme">Gelecek Burada</span>
                                </h1>
                                <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Eğitim, bir toplumun değerlerinin ve birikmiş bilgisinin aktarımı olarak düşünülebilir. Bu anlamda, eşdeğer bir kavramdır.</p>
                            </div>
                        </div>
                        <div class="col-md-6 text-lg-end text-center">
                            <div class="hero-img1">
                                <img src="/images/6.jpg" alt="hero">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-shape shape1">
                    <img src="assets/img/hero/shape_1_1.png" alt="shape">
                </div>
                <div class="hero-shape shape2">
                    <img src="assets/img/hero/shape_1_2.png" alt="shape">
                </div>
                <div class="hero-shape shape3"></div>

                <div class="hero-shape shape4 shape-mockup jump-reverse" data-right="3%" data-bottom="7%">
                    <img src="assets/img/hero/shape_1_3.png" alt="shape">
                </div>
                <div class="hero-shape shape5 shape-mockup jump-reverse" data-left="0" data-bottom="0">
                    <img src="assets/img/hero/shape_1_4.png" alt="shape">
                </div>
            </div>

        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
    Contact Area
    ==============================-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <!--==============================
    Servce Area
    ==============================-->

    <section class="overflow-hidden space" id="category-sec">
        <div class="container">
            <div class="mb-35 text-center text-md-start">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <div class="title-area mb-md-0">
                            <h2 class="sec-title">Kategoriler</h2>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <a href="/CategoryHome/Index/" class="th-btn">Tüm Kategoriler<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="row slider-shadow th-carousel blog-slider-1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                @await Component.InvokeAsync("Categories")
            </div>
        </div>
    </section>
    <!--==============================
    Cta Area
    ==============================-->
    <div class="cta-area-1" data-bg-src="assets/img/bg/cta-bg1.png">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8">
                    <div class="cta-wrap title-area mb-0">
                        <div class="cta-icon">
                            <img src="assets/img/normal/cta-icon1.png" alt="icon">
                        </div>
                        <div class="cta-content">
                            <h2 class="cta-title sec-title">Online Kurs</h2>
                            <p class="cta-text">Sizi neler mi bekliyor </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-img-1" data-overlay="title" data-opacity="8">
            <img src="~/images/cta_1_1.png" alt="Image">
            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style2 popup-video"><i class="fa-sharp fa-solid fa-play"></i></a>
        </div>

    </div>
    <!--==============================
    Why choose us Area
    ==============================-->
    <div class="why-area-1 space overflow-hidden">



        <div class="shape-mockup why-shape-1 jump" data-top="10%" data-left="7%">
            <img src="assets/img/normal/about_1_shape1.png" alt="img">
        </div>

        <div class="shape-mockup why-shape-2" data-bg-src="assets/img/normal/wcu_1_shape1.png"></div>

        <div class="shape-mockup why-shape-3 jump-reverse" data-bottom="25%" data-right="-3%">
            <img src="images/web3.jpg" alt="img">
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="wcu-img-1">
                        <div class="img1">
                            <img src="images/b6.jpg" alt="img">
                        </div>
                        <div class="text-end">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="wcu-wrap1">
                        <div class="title-area mb-25">                           
                        </div>
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Dünya Çapında Eğitmenler</h3>
                                        <p class="wcu-box_text">Hizmetler aracılığıyla taktiksel verileri sorunsuz bir şekilde hayal edin.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Kolay Öğrenim</h3>
                                        <p class="wcu-box_text">Bilgiyi açık ve anlaşılır bir şekilde sunarak hızlı ve etkili bir öğrenme süreci sağlar.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Esnek</h3>
                                        <p class="wcu-box_text">Esnek eğitim saatleri, öğrencilerin iş ve özel hayatlarını daha iyi dengelemelerine yardımcı olur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wcu-box">
                                    <div class="wcu-box_icon">
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="wcu-box_details">
                                        <h3 class="box-title">Uygun Fiyat</h3>
                                        <p class="wcu-box_text">Piyasaya göre uygun fiyat seçenekleri ile.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="overflow-hidden space" id="course-sec">
        <div class="container">
            <div class="mb-35 text-center text-md-start">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-8">
                        <div class="title-area mb-md-0">
                            <h2 class="sec-title">Popüler Kurslarımız</h2>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <a asp-action="Index" asp-controller="CourseHome" class="th-btn">Bütün Kurslar için tıklayınız<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="row slider-shadow th-carousel blog-slider-1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                @await Component.InvokeAsync("Courses") <!--Haberlerin Getirilmesi-->
            </div>
        </div>
    </section>

  
    <section class="testi-area-1 overflow-hidden space-bottom" data-bg-src="assets/img/bg/testi_bg_1.png">
        <div class="shape-mockup testi-bg-shape1 jump" data-right="0" data-top="50%">
            <img src="assets/img/testimonial/testi-bg-shape_1_1.png" alt="img">
        </div>
        <div class="shape-mockup testi-bg-shape2 spin" data-left="0" data-top="15%">
            <img src="assets/img/testimonial/testi-bg-shape_1_2.png" alt="img">
        </div>
        
    </section>
    <!--==============================
    Blog Area
    ==============================-->
   
    <!--==============================
    Contact Area
    ==============================-->
    <div class="space-bottom" id="contact-sec">
        <div class="container">
            <div class="map-sec">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.1395943826683!2d29.004423865990645!3d41.044076296135444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sBah%C3%A7e%C5%9Fehir%20%C3%9Cniversitesi%20Wissen%20Akademie!5e0!3m2!1str!2str!4v1724768930956!5m2!1str!2str" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 mb-30 mb-xl-0">
                            <div class="me-xxl-5 mt-60">
                                <div class="title-area mb-25">
                                    <h2 class="border-title h3">Have Any Questions?</h2>
                                </div>
                                <p class="mt-n2 mb-25">Have an inquiry or some feedback for us? Fill out the form <br> below to contact our team.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="contact-feature">
                                            <div class="contact-feature-icon">
                                                <i class="fal fa-location-dot"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">Our Address</p>
                                                <a href="https://www.google.com/maps" class="contact-feature_link">2690 Hiltona Street Victoria Road, <br> New York, Canada</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="contact-feature">
                                            <div class="contact-feature-icon">
                                                <i class="fal fa-phone"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">Phone Number</p>
                                                <a href="tel:+011456586986" class="contact-feature_link">Mobile:<span>(+65) - 48596 - 5789</span></a>
                                                <a href="tel:+011456586986" class="contact-feature_link">Phone: <span>(+00) - 12543 - 4165</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="contact-feature">
                                            <div class="contact-feature-icon">
                                                <i class="fal fa-clock"></i>
                                            </div>
                                            <div class="media-body">
                                                <p class="contact-feature_label">Hours of Operation</p>
                                                <span class="contact-feature_link">Monday - Friday: 09:00 - 20:00</span>
                                                <span class="contact-feature_link">Sunday & Saturday: 10:30 - 22:00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-40 mb-xl-0">
                <div class="title-area mb-30">
                    <span class="sub-title"><i class="fal fa-book me-2"></i> EĞİTMENLERİMİZ </span>
                    <h2 class="sec-title">Uzman Eğitmenimizle Tanışın</h2>
                    <p class="sec-text mt-20">DevStart Kurs mezunları seçtikleri alanlarda kayda değer başarılar elde ettiler; birçoğu yüksek lisans eğitimleri aldılar, tatmin edici kariyerler elde ettiler ve toplumlarına değerli katkılarda bulundular.</p>
                    <p class="sec-text">Kursumuz, kurumun eğitim kalitesinin ve sağladığı fırsatların kanıtı niteliğindeki mezun ağıyla gurur duymaktadır.</p>
                </div>
                <div class="btn-group mt-30">
                    <a href="#course-sec" class="th-btn">Kursları Keşfet<i class="fas fa-arrow-right ms-2"></i></a>
                    <a href="#contact-sec" class="th-btn style7">İletişim<i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>

            <div class="col-xl-6">
                <!-- Authors bileşeni için yeni bir sütun -->
                @await Component.InvokeAsync("Authors")
            </div>
        </div>
    </div>
    <div class="team-area overflow-hidden space" id="team-sec">
        <div class="shape-mockup team-bg-shape1 jump-reverse d-xxl-block d-none" data-left="-2%" data-top="0">
            <img src="assets/img/team/team-shape_1_1.png" alt="img">
        </div>

        <div class="shape-mockup team-bg-shape2 jump d-xxl-block d-none" data-left="40%" data-top="20%">
            <img src="assets/img/team/team-shape_1_2.png" alt="img">
        </div>

        <div class="shape-mockup team-bg-shape3 jump" data-left="5%" data-bottom="9%">
            <img src="assets/img/team/team-shape_1_3.png" alt="img">
        </div>

        <div class="shape-mockup team-bg-shape4 spin" data-left="40%" data-bottom="20%">
            <img src="assets/img/team/team-shape_1_4.png" alt="img">
        </div>

        <div class="shape-mockup team-bg-shape5 jump d-lg-block d-none" data-right="-7%" data-top="10%">
            <img src="assets/img/team/team-shape_1_5.png" alt="img">
        </div>

        
    </div>
    <!--==============================
            Footer Area
        ==============================-->
    <footer class="footer-wrapper footer-layout1" data-bg-src="../../assets/img/bg/footer-bg.png">
        <div class="shape-mockup footer-shape1 jump" data-left="60px" data-top="70px">
            <img src="../../assets/img/normal/footer-bg-shape1.png" alt="img">
        </div>
        <div class="shape-mockup footer-shape2 jump-reverse" data-right="80px" data-bottom="120px">
            <img src="../../assets/img/normal/footer-bg-shape2.png" alt="img">
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="footer-contact-wrap">
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">İletişim Numarası:</p>
                            <a href="tel+11234567890" class="footer-contact_link">0216 865 47 39</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">Email us 24/7 hours:</p>
                            <a href="mailto:info@devstart.com" class="footer-contact_link">info@devstart.com</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-location-dot"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">Our university location:</p>
                            <a href="https://www.google.com/maps" class="footer-contact_link">Wissen / Beşiktaş</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap" style="background-color:navy" data-bg-src="../../assets/img/bg/jiji.png">
            <div class="widget-area">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="col-md-6 about-logo">
                                    <a href="index.html"><img src="/images/Logo8.png" alt="DevStart"></a>
                                </div>
                                <div class="col-md-6 ">
                                    <h2 style="color: white"> Hiçbir şey için geç değil. Hemen başla!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright-wrap">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            <p class="copyright-text">Copyright © 2024 <a href="index.html">DevStart</a> All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 text-end d-none d-md-block">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="about.html">Privacy Policy</a></li>
                                    <li><a href="about.html">Terms & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
            Code End  Here
    ******************************** -->
    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="../../assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="../../assets/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="../../assets/js/jquery.counterup.min.js"></script>
    <!-- Circle Progress -->
    <script src="../../assets/js/circle-progress.js"></script>
    <!-- Range Slider -->
    <script src="../../assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/isotope.pkgd.min.js"></script>
    <!-- Tilt JS -->
    <script src="../../assets/js/tilt.jquery.min.js"></script>
    <!-- Tweenmax JS -->
    <script src="../../assets/js/tweenmax.min.js"></script>
    <!-- Nice Select JS -->
    <script src="../../assets/js/nice-select.min.js"></script>

    <!-- Main Js File -->
    <script src="../../assets/js/main.js"></script>

</body>

</html>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Cart/GetCartAcount",
            type: "get",
            success: function (response) {
                $("#cartCount").html(response)
            }
        })
    })
</script>