<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <style>
        .payment_box {
            display: none; /* Başlangıçta gizli */
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DevStart</title>
    <meta name="author" content="themeholy">
    <meta name="description" content="Edura - Online Courses & Education HTML Template">
    <meta name="keywords" content="Edura - Online Courses & Education HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
      Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">


    <!--==============================
        All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../../assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="../../assets/css/slick.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="../../assets/css/nice-select.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!-- Jquery -->
    <script src="../../assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="../../assets/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../assets/js/bootstrap.min.js"></script>

</head>

<body>


    <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--********************************
        Code Start From Here
    ******************************** -->
    <!--==============================
       Preloader
    ==============================-->
    <div class="preloader ">
        <button class="th-btn style3 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader"></span>
        </div>
    </div>
    <!--==============================
        Sidemenu
    ============================== -->
   
    <!--==============================
      Mobile Menu
    ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="/"><img src="/images/Logo1.png" alt="DevStart"></a>
            </div>            
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li><i class="far fa-phone"></i><a href="tel:0216(865) 47 39">0216(865) 47 39</a></li>
                                <li class="d-none d-xl-inline-block"><i class="far fa-envelope"></i><a href="mailto:info@Edura.com">info@devstart.com</a></li>
                                <li><i class="far fa-clock"></i>Mon - Fri: 9:00 - 17:00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-links header-right">
                            <ul>
                                <li>
                                    <div class="header-social">
                                        <span class="social-title">Follow Us:</span>
                                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                        <a href="https://www.instagram.com/"><i class="fab fa-skype"></i></a>
                                    </div>
                                </li>
                                <li class="d-none d-lg-inline-block">
                                    @if (User.Identity.IsAuthenticated)
                                    //Eğer kullanıcı giriş yaptıysa :
                                    {
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-user"></i> @User.Identity.Name
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                                <li>
                                                    <a asp-action="Index" asp-controller="UserCourse">
                                                        Kurslarım
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="UserSales">
                                                        Siparişlerim
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Logout" asp-controller="Account">
                                                        Çıkış Yap
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="mx-lg-4 mx-md-2  mx-1">
                                            <a asp-action="Login" asp-controller="Account">
                                                <i class="fas fa-lock"></i> Giriş
                                            </a>
                                        </span>
                                        <span class="mx-lg-4 mx-md-2  mx-1">
                                            <a asp-action="Register" asp-controller="Account">
                                                <i class="fas fa-lock"></i> Kayıt
                                            </a>
                                        </span>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="/"><img src="/images/Logo1.png" alt="DevStart"></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto">
                                <nav class="main-menu d-none d-lg-inline-block">
                                    <ul>
                                        <li><a href="/Home">Ana Sayfa</a></li>
                                        <li><a href="/Home#category-sec">Kategoriler</a></li>
                                        <li><a href="/Home#course-sec">Kurslar</a></li>
                                        <li><a href="/Home#team-sec">Eğitmenler</a></li>
                                        <li><a href="/Home#contact-sec">İletişim</a></li>
                                    </ul>
                                </nav>
                                <button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button>
                            </div>
                            <div class="col-auto d-none d-xl-block">
                                <div class="header-button">

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    Hero Area
    ==============================-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-layout1" data-bg-src="../../assets/img/bg/footer-bg.png">
        <div class="shape-mockup footer-shape1 jump" data-left="60px" data-top="70px">
            <img src="../../assets/img/normal/footer-bg-shape1.png" alt="img">
        </div>
        <div class="shape-mockup footer-shape2 jump-reverse" data-right="80px" data-bottom="120px">
            <img src="../../assets/img/normal/footer-bg-shape2.png" alt="img">
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="footer-contact-wrap">
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">İletişim Numarası:</p>
                            <a href="tel+11234567890" class="footer-contact_link">0216 865 47 39</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">Email us 24/7 hours:</p>
                            <a href="mailto:info@devstart.com" class="footer-contact_link">info@devstart.com</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="footer-contact">
                        <div class="footer-contact_icon icon-btn">
                            <i class="fal fa-location-dot"></i>
                        </div>
                        <div class="media-body">
                            <p class="footer-contact_text">Our university location:</p>
                            <a href="https://www.google.com/maps" class="footer-contact_link">Wissen / Beşiktaş</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap" style="background-color:navy" data-bg-src="../../assets/img/bg/jiji.png">
            <div class="widget-area">
                <div class="container">
                    <div class="row justify-content-between">
                            <div class="widget footer-widget">
                                <div class="th-widget-about">
                                    <div class="about-logo col-md-6">
                                        <a href="index.html"><img src="/images/Logo8.png" alt="DevStart"></a>
                                    </div>
                                        <div class="col-md-6 ">
                                            <h2 style="color: white"> Hiçbir şey için geç değil. Hemen başla!</h2>
                                        </div>
                                </div>
                            </div>
                    </div>                  
                </div>               
            </div>
            <div class="container">
                <div class="copyright-wrap">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            <p class="copyright-text">Copyright © 2024 <a href="index.html">DevStart</a> All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 text-end d-none d-md-block">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="about.html">Privacy Policy</a></li>
                                    <li><a href="about.html">Terms & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
            Code End  Here
    ******************************** -->
    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
        All Js File
    ============================== -->
    
    <!-- Magnific Popup -->
    <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="../../assets/js/jquery.counterup.min.js"></script>
    <!-- Circle Progress -->
    <script src="../../assets/js/circle-progress.js"></script>
    <!-- Range Slider -->
    <script src="../../assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="../../assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/js/isotope.pkgd.min.js"></script>
    <!-- Tilt JS -->
    <script src="../../assets/js/tilt.jquery.min.js"></script>
    <!-- Tweenmax JS -->
    <script src="../../assets/js/tweenmax.min.js"></script>
    <!-- Nice Select JS -->
    <script src="../../assets/js/nice-select.min.js"></script>

    <!-- Main Js File -->
    <script src="../../assets/js/main.js"></script>

    <script>
        // Radio butonunu seçildiğinde kredi kartı formunu göster veya gizle
        document.querySelectorAll('input[name="payment_method"]').forEach(function(radio) {
            radio.addEventListener('change', function() {
                var paymentBox = document.querySelector('.payment_box');
                if (this.checked && this.id === 'credit_card_payment') {
                    paymentBox.style.display = 'block';
                } else {
                    paymentBox.style.display = 'none';
                }
            });
        });
    </script>
</body>

</html>